.bj{
	background:url(../images/bj.jpg);
	background-repeat: no-repeat;
	height: 1000px;
}
.icon{
	background:url(../images/logo.png);
	background-repeat: no-repeat;
	height: 100px;
	margin-top: 180px;
}
.ipt{
     background:;
     margin-top: 450px;
}
.row input{
	border: 0px;
	border-radius: 0px;
	height: 70px;
}
.row span{
  	border: 0px;
  	border-radius: 0px;
  	width: 40px;
}
